doctype html

html
	body
		h1 Authorization
		p Are you sure to allow access account?

		form(action="/oauth/authorize" method="post")
			input(name="transaction_id" type="hidden" value=tid)
			input(type="submit" value="Allow" id="allow")
